body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(221, 63%, 76%);
}

#calculadora {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(221, 69%, 60%);
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(216, 80%, 71%);
    color: white;
    box-sizing: border-box;
    font-weight: bold;
}

#botoesCalculadora {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    box-sizing: border-box;
}

button {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: none;
    background-color: hsl(216, 72%, 70%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: hsl(216, 72%, 75%);
}
button:active {
    background-color: hsl(216, 72%, 80%);
}
.operador {
    background-color: hsl(216, 78%, 65%);
}
.operador:hover {
    background-color: hsl(216, 78%, 70%);
}
.operador:active {
    background-color: hsl(216, 78%, 75%);
}

/* MEDIA QUERY PARA TELAS PEQUENAS */
@media (max-width: 600px) {
    #display {
        font-size: 2.5rem;
        padding: 15px;
    }

    button {
        font-size: 2rem;
        border-radius: 50%;
    }

    #botoesCalculadora {
        gap: 8px;
        padding: 15px;
    }
}
